In [1]:
import pandas as pd
import sqlalchemy

In [2]:
db=sqlalchemy.create_engine("mysql+pymysql://root:1234@localhost:3306/yaser")

In [3]:
query="SELECT * FROM hrdata"
df=pd.read_sql_query(query,db)
df

,MyUnknownColumn,Name,Gender,Age,Rating,Date Joined,Department,Salary,Country
0,0,Parasuramudu Jamakayala,Male,20,Average,2020-10-18,Website,112650,IND
1,1,Yedukondalu Panditula,Male,32,Above average,2021-04-07,Website,43840,IND
2,2,Devsena Veluvalapalli,Female,31,Average,2022-04-12,Procurement,103550,IND
3,3,Gopal Venkata,Male,32,Average,2021-05-23,HR,45510,IND
4,4,Vasavi Veeravasarapu,Female,37,Poor,2020-09-11,Finance,115440,IND
...,...,...,...,...,...,...,...,...,...
178,178,Elia Cockton,Female,33,Average,2021-04-26,Website,75280,NZ
179,179,Gigi Bohling,Male,33,Average,2021-07-08,Sales,74550,NZ
180,180,Ebonee Roxburgh,Male,30,Average,2022-05-20,Procurement,67950,NZ
181,181,Shayne Stegel,Male,42,Poor,2022-06-19,Finance,70270,NZ
182,182,Zach Polon,Male,26,Average,2021-08-03,Procurement,53540,NZ

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MyUnknownColumn  183 non-null    int64
 1   Name             183 non-null    object
 2   Gender           183 non-null    object
 3   Age              183 non-null    int64
 4   Rating           183 non-null    object
 5   Date Joined      183 non-null    object
 6   Department       183 non-null    object
 7   Salary           183 non-null    int64
 8   Country          183 non-null    object
dtypes: int64(3), object(6)
memory usage: 13.0+ KB

In [5]:
df.columns

Index(['MyUnknownColumn', 'Name', 'Gender', 'Age', 'Rating', 'Date Joined',
       'Department', 'Salary', 'Country'],
      dtype='object')

In [6]:
def outliers(data,ft):
    Q1=data[ft].quantile(0.25)
    Q3=data[ft].quantile(0.75)
    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR

    ls=data.index[ (df[ft] < lower_bound) | (df[ft]> upper_bound) ]

    return ls

In [7]:
index_list=[]
for feature in ["Age","Salary"]:
    index_list.extend(outliers(df,feature))
index_list

[88, 93]

In [8]:
def remove(df,ls):
    ls=sorted(set(ls))
    df=df.drop(ls)
    return df

In [9]:
data=remove(df,index_list)

In [10]:
data

,MyUnknownColumn,Name,Gender,Age,Rating,Date Joined,Department,Salary,Country
0,0,Parasuramudu Jamakayala,Male,20,Average,2020-10-18,Website,112650,IND
1,1,Yedukondalu Panditula,Male,32,Above average,2021-04-07,Website,43840,IND
2,2,Devsena Veluvalapalli,Female,31,Average,2022-04-12,Procurement,103550,IND
3,3,Gopal Venkata,Male,32,Average,2021-05-23,HR,45510,IND
4,4,Vasavi Veeravasarapu,Female,37,Poor,2020-09-11,Finance,115440,IND
...,...,...,...,...,...,...,...,...,...
178,178,Elia Cockton,Female,33,Average,2021-04-26,Website,75280,NZ
179,179,Gigi Bohling,Male,33,Average,2021-07-08,Sales,74550,NZ
180,180,Ebonee Roxburgh,Male,30,Average,2022-05-20,Procurement,67950,NZ
181,181,Shayne Stegel,Male,42,Poor,2022-06-19,Finance,70270,NZ
182,182,Zach Polon,Male,26,Average,2021-08-03,Procurement,53540,NZ

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, 0 to 182
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MyUnknownColumn  181 non-null    int64
 1   Name             181 non-null    object
 2   Gender           181 non-null    object
 3   Age              181 non-null    int64
 4   Rating           181 non-null    object
 5   Date Joined      181 non-null    object
 6   Department       181 non-null    object
 7   Salary           181 non-null    int64
 8   Country          181 non-null    object
dtypes: int64(3), object(6)
memory usage: 14.1+ KB

In [12]:
data["Name"].unique()

array(['Parasuramudu Jamakayala', 'Yedukondalu Panditula',
       'Devsena Veluvalapalli', 'Gopal Venkata', 'Vasavi Veeravasarapu',
       'Mayur Kousika', 'Dinanath Simhambhatla', 'Nazeer Basha Mustafa',
       'Venkat Kodi', 'Raghuveer Yettugunna', 'Sahaj Jonnalagadda',
       'Gowri Sankar Chakrala', 'Suman Katte', 'Prasanna Lakshmi Payasam',
       'Jaipal Potanapudi', 'Duran Appala', 'Lalitchandra Vadali',
       'John Joseph', 'Oorjit Nandanavanam', 'Ponnan Delhi',
       'Subbarao Malladi', 'Sravanthi Chalaki',
       'Sreenivasa Naik Gudiwada', 'Ramalingam Kothapeta',
       'Devrat Damarsingh', 'Amlankusum Rajabhushan', 'Pratigya Rema',
       'Ramnath Ravuri', 'Prerana Nishita', 'Makshi Vinutha',
       'Shiuli Sapna', 'Agrata Rajarama', 'Vasu Nandin', 'Bhuvan Pals',
       'Gumwant Veera', 'Narois Motiwala', 'Anjushri Chandiramani',
       'Krishnakanta Vellanki', 'Dhruv Manjunath', 'Vanmala Shriharsha',
       'Sameer Shashank Sapra', 'Anumati Shyamari Meherhomji',
       'Tarala Vishaal', 'Shubhra Potla', 'Hemavati Muthiah',
       'Krittika Gaekwad', 'Shevantilal Muppala', 'Shattesh Utpat',
       'Kamalakshi Mukundan', 'Chandana Sannidhi Surnilla',
       'Indu Varada Sumedh', 'Karuna Pashupathy', 'Mardav Ramaswami',
       'Sarayu Ragunathan', 'Kevalkumar Solanki', 'Upendra Swati',
       'Deepit Ranjana', 'Amal Nimesh', 'Kunja Prashanta Vibha',
       'Godavari Veena', 'Devasree Fullara Saurin',
       'Geena Raghavanpillai', 'Rupak Mehra', 'Sawini Chandan',
       'Baruna Ogale', 'Jagajeet Viraj', 'Kulbhushan Moorthy',
       'Ilesh Dasgupta', 'Madhumati Gazala Soumitra', 'Chitrasen Laul',
       'Jaishree Atasi Yavatkar', 'Kantimoy Pritish',
       'Rameshwari Chikodi', 'Lalit Kothari', 'Sahas Sanabhi Shrikant',
       'Kaishori Harathi Kateel', 'Rushil Kripa', 'Sarojini Naueshwara',
       'Sartaj Probal', 'Mahindra Sreedharan', 'Suchira Bhanupriya Tapti',
       'Fullara Sushanti Mokate', 'Hridaynath Tendulkar',
       'Abhaya Priyavardhan', 'Ayog Chakrabarti', 'Pragya Nilufar',
       'Shulabh Qutub Sundaramoorthy', 'Vinanti Choudhari',
       'Asija Pothireddy', 'Piyali Mahanthapa', 'Sukhdev Nageshwar',
       'Lindy Guillet', 'Tatum Hush', 'Benny Karolovsky', "Hoyt D'Alesco",
       'Halimeda Kuscha', 'Erin Androsik', 'Vic Radolf',
       'William Reeveley', 'Ewart Laphorn', 'Bev Lashley', 'Kath Bletsoe',
       'Murry Dryburgh', 'Kaine Padly', 'Kassi Jonson', 'Simon Kembery',
       'Orton Livick', 'Kelci Walkden', 'Dotty Strutley', 'Shari McNee',
       'Oby Sorrel', 'Husein Augar', 'Brien Boise', 'Esmaria Denecamp',
       'Curtice Advani', 'Barr Faughny', 'Merrilee Plenty',
       'Niall Selesnick', 'Beverie Moffet', 'Jehu Rudeforth',
       'Camilla Castle', 'Roddy Speechley', 'Gray Seamon',
       'Madelene Upcott', 'Violante Courtonne', 'Bernie Gorges',
       'Torrance Collier', 'Dyna Doucette', 'Gunar Cockshoot',
       'Kaye Crocroft', 'Allene Gobbet', 'Sibyl Dunkirk',
       'Agnes Collicott', 'Leilah Yesinin', 'Mollie Hanway',
       'Kellsie Waby', 'Hyacinthie Braybrooke', 'Van Tuxwell',
       'Lilyan Klimpt', 'Tawnya Tickel', 'Jan Morforth', 'Florinda Crace',
       'Tracy Renad', 'Myer McCory', 'Bennie Pepis',
       'Rafaelita Blaksland', 'Mahalia Larcher', 'Andria Kimpton',
       'Valentia Etteridge', 'Virginia McConville', "Wilone O'Kielt",
       'Madge McCloughen', 'Janene Hairsine', 'Alta Kaszper',
       'Dennison Crosswaite', 'Oran Buxcy', 'Hinda Label',
       "Marney O'Breen", 'Dell Molloy', 'Mallorie Waber',
       'Cherlyn Barter', 'Ches Bonnell', 'Collin Jagson', 'Hogan Iles',
       'Gretchen Callow', 'Kissiah Maydway', 'Archibald Filliskirk',
       'Enoch Dowrey', 'Bili Sizey', 'Caro Chappel', 'Constantino Espley',
       'Karlen McCaffrey', 'Drusy MacCombe', 'My Hanscome',
       'Teressa Udden', 'Crissie Cordel', 'Elia Cockton', 'Gigi Bohling',
       'Ebonee Roxburgh', 'Shayne Stegel', 'Zach Polon'], dtype=object)

In [13]:
data["Name"].value_counts()

Name
Parasuramudu Jamakayala    1
Curtice Advani             1
Merrilee Plenty            1
Niall Selesnick            1
Beverie Moffet             1
                          ..
Rupak Mehra                1
Sawini Chandan             1
Baruna Ogale               1
Jagajeet Viraj             1
Zach Polon                 1
Name: count, Length: 181, dtype: int64

In [14]:
data["Gender"].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [15]:
data["Gender"].value_counts()

Gender
Male      90
Female    85
Other      6
Name: count, dtype: int64

In [16]:
data["Age"].unique()

array([20, 32, 31, 37, 38, 25, 33, 40, 30, 28, 21, 34, 36, 22, 27, 43, 42,
       35, 24, 44, 26, 29, 23], dtype=int64)

In [17]:
data["Age"].value_counts()

Age
33    20
30    18
28    14
27    13
34    11
36    10
32    10
21    10
20    10
25     8
37     8
31     8
40     6
24     6
26     5
38     4
22     4
42     4
29     4
43     3
35     2
23     2
44     1
Name: count, dtype: int64

In [18]:
data["Rating"].unique()

array(['Average', 'Above average', 'Poor', 'Exceptional', 'Very poor'],
      dtype=object)

In [19]:
data["Rating"].value_counts()

Rating
Average          135
Above average     20
Poor              16
Very poor          6
Exceptional        4
Name: count, dtype: int64

In [20]:
data["Date Joined"].unique()

array(['2020-10-18', '2021-04-07', '2022-04-12', '2021-05-23',
       '2020-09-11', '2021-03-13', '2020-11-09', '2022-06-01',
       '2021-05-08', '2022-04-14', '2021-05-04', '2021-12-14',
       '2020-05-29', '2020-07-30', '2022-03-22', '2022-04-09',
       '2020-05-07', '2022-08-16', '2022-05-02', '2021-07-11',
       '2020-08-30', '2021-03-22', '2021-12-28', '2022-06-06',
       '2022-04-15', '2022-03-05', '2022-02-12', '2023-02-28',
       '2021-12-19', '2022-08-27', '2020-11-29', '2021-03-01',
       '2022-01-10', '2022-03-13', '2021-06-28', '2020-10-15',
       '2020-08-18', '2021-07-07', '2020-07-11', '2021-11-06',
       '2020-12-15', '2021-04-10', '2021-07-20', '2022-02-27',
       '2021-02-26', '2022-02-02', '2021-08-17', '2022-05-20',
       '2020-12-09', '2022-04-19', '2020-10-20', '2021-01-16',
       '2022-02-15', '2020-09-29', '2020-06-24', '2021-12-05',
       '2021-07-06', '2021-09-11', '2021-03-21', '2021-10-07',
       '2021-07-26', '2022-07-16', '2021-04-30', '2021-01-08',
       '2020-09-10', '2021-03-17', '2021-12-17', '2022-07-05',
       '2021-06-03', '2022-03-20', '2021-05-12', '2021-01-18',
       '2021-12-20', '2021-07-01', '2021-07-12', '2021-09-29',
       '2022-01-29', '2020-05-11', '2020-09-13', '2021-05-06',
       '2021-04-27', '2021-09-09', '2021-08-25', '2021-01-22',
       '2020-12-16', '2020-10-25', '2021-09-07', '2021-06-10',
       '2020-11-11', '2021-09-26', '2022-10-27', '2020-11-13',
       '2021-11-09', '2021-09-20', '2021-06-07', '2021-03-08',
       '2020-09-30', '2022-07-20', '2020-11-10', '2021-02-15',
       '2022-04-02', '2022-01-06', '2022-02-05', '2022-08-06',
       '2021-05-21', '2020-12-20', '2022-02-20', '2021-06-27',
       '2021-10-25', '2022-06-14', '2022-06-09', '2022-03-10',
       '2020-12-25', '2022-06-12', '2021-11-11', '2021-08-28',
       '2021-11-29', '2022-09-05', '2022-05-05', '2021-09-06',
       '2020-12-18', '2022-07-02', '2021-12-07', '2022-05-13',
       '2020-07-07', '2020-07-29', '2021-07-23', '2022-10-16',
       '2021-05-17', '2021-06-30', '2022-02-17', '2021-03-18',
       '2021-09-12', '2023-04-29', '2022-08-01', '2021-10-17',
       '2020-10-30', '2021-03-16', '2021-05-13', '2021-01-09',
       '2021-05-01', '2021-01-29', '2022-03-29', '2021-05-22',
       '2022-04-27', '2021-09-01', '2022-06-15', '2021-02-09',
       '2022-02-28', '2021-07-04', '2022-02-14', '2022-09-16',
       '2021-02-16', '2020-08-24', '2022-02-19', '2021-04-26',
       '2021-07-08', '2022-06-19', '2021-08-03'], dtype=object)

In [21]:
data["Date Joined"].value_counts()

Date Joined
2022-05-20    4
2022-03-20    3
2020-10-18    2
2021-07-12    2
2022-05-05    2
             ..
2022-07-16    1
2021-04-30    1
2021-01-08    1
2020-09-10    1
2021-08-03    1
Name: count, Length: 159, dtype: int64

In [22]:
data["Department"].unique()

array(['Website', 'Procurement', 'HR', 'Finance', 'Sales'], dtype=object)

In [23]:
data["Department"].value_counts()

Department
Website        54
Procurement    53
Finance        38
Sales          28
HR              8
Name: count, dtype: int64

In [24]:
data["Salary"].unique()

array([112650,  43840, 103550,  45510, 115440,  56870,  92700,  91310,
        74550, 109190, 104410,  96800,  48170,  37920,  49630, 118840,
        69710,  79570,  76900,  54970,  88050,  36040,  75000,  40400,
       100420,  58100, 114870,  41570, 112570,  47360,  65920,  99970,
        80700,  52610, 112110, 119110, 112780, 114890,  48980,  75880,
        53240,  85000,  33920,  75280,  58940, 104770,  57090,  91650,
        70270,  75970,  90700,  60570, 115920,  65360,  64000,  92450,
        48950,  83750,  87620,  68900,  53540,  43510, 109160,  99750,
        41980,  71380, 113280,  86570,  69070,  67910,  69120,  60130,
       106460, 118100,  78390, 114180, 104120,  67950,  34980,  62780,
       107700,  65700,  75480,  53870,  78540,  58960,  59430,  48530,
        96140], dtype=int64)

In [25]:
data["Salary"].value_counts()

Salary
53540     4
112650    3
104770    2
71380     2
41980     2
         ..
112570    2
41570     2
114870    2
58100     2
96140     2
Name: count, Length: 89, dtype: int64

In [26]:
data["Country"].unique()

array(['IND', 'NZ'], dtype=object)

In [27]:
data["Country"].value_counts()

Country
IND    91
NZ     90
Name: count, dtype: int64

In [28]:
data

,MyUnknownColumn,Name,Gender,Age,Rating,Date Joined,Department,Salary,Country
0,0,Parasuramudu Jamakayala,Male,20,Average,2020-10-18,Website,112650,IND
1,1,Yedukondalu Panditula,Male,32,Above average,2021-04-07,Website,43840,IND
2,2,Devsena Veluvalapalli,Female,31,Average,2022-04-12,Procurement,103550,IND
3,3,Gopal Venkata,Male,32,Average,2021-05-23,HR,45510,IND
4,4,Vasavi Veeravasarapu,Female,37,Poor,2020-09-11,Finance,115440,IND
...,...,...,...,...,...,...,...,...,...
178,178,Elia Cockton,Female,33,Average,2021-04-26,Website,75280,NZ
179,179,Gigi Bohling,Male,33,Average,2021-07-08,Sales,74550,NZ
180,180,Ebonee Roxburgh,Male,30,Average,2022-05-20,Procurement,67950,NZ
181,181,Shayne Stegel,Male,42,Poor,2022-06-19,Finance,70270,NZ
182,182,Zach Polon,Male,26,Average,2021-08-03,Procurement,53540,NZ

In [29]:
data.isnull().sum()

MyUnknownColumn    0
Name               0
Gender             0
Age                0
Rating             0
Date Joined        0
Department         0
Salary             0
Country            0
dtype: int64

In [31]:
data.to_csv("hrdatacleaned.csv")